.portfolio {
  padding-bottom: 1px;
  background: #f6f6f6;

  /* padding-top: 112px; */
}

.portfolio__title {
  padding-bottom: 50px;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

.portfolio__img {
  width: 100%;
  margin-bottom: 42px;
  /* display: block; */
}

.portfolio__link {
  margin-bottom: 80px;
  display: block;
}

.portfolio__name {
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
}

/* .portfolio__link:last-child .portfolio__name {
  padding-bottom: 96px;
} */
